* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    flex-direction: column;
    height: 150vh;
    background: url("https://i.pinimg.com/736x/44/0c/03/440c0347ef0a3d03f10e7dba5da12b7b.jpg"); 
}

header {
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    color: black;
    background: url("https://i.pinimg.com/originals/22/3d/f1/223df15db915620d5cdd73b27f105764.png");
    text-align: left;
}

header h1 {
    display: inline-block;
    font-size: 50px;
    border-style: dotted;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-weight: bold;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    }
 
nav a:hover {
    color: black;
}

a {
    color:maroon;
    text-decoration: none;
}

p {
    font-size: 16px;
}


.About-me {
    margin-top: 50px;
    text-align: left;
}

.content {
    display: block;
    width: 750px;
    padding: 70px;
    border: 11px solid maroon;
    margin: 70px;
    text-align: left;
    display: block;

.image1{
    border-radius: 50%;
    float: left;
    width: 219px;
    margin-left: auto;
    display: flex;
}

h2 {
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    text-align: center;
    font-size: 15px;  
}

aside {
    padding: 24px 15px;
    text-align: right;
    border: 10px solid maroon;
    font-weight: bold;
    float: right;
    margin-left: 5%;
    width: 35%;
}

h3 {
    display: grid;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-weight: bold;
    text-align: left;
}

.projects nav {
    height: 640px;
    display: inline;
    /* flex-direction: row; */
    flex-wrap: wrap;
}


.image2 {
    width: 35%;
    padding: 20px;
    display: inline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


span {
    color:maroon;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10 px;
    display: inline-block;
}

h4 {
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:black
}

.contact {
    height: 100px;
}

.contact ul li { 
    display: inline;
    font-size: 18px;
    color:maroon; 
    padding-left: 150px;
    margin: 25 25 25px 25;
}


.footer {
    position: fixed;
    bottom: 0px;
    /* background-color:lightcyan; */
    text-align: center;
    padding: 10px;
    width: 100%;
    background: url("https://i.pinimg.com/originals/22/3d/f1/223df15db915620d5cdd73b27f105764.png");

    /* background: url("https://i.pinimg.com/originals/e1/bb/e9/e1bbe94c4fd1d6cf20b5726acc5c16e6.jpg"); */

}


@media screen and (min-width: 450px) {
    .container {
      --fontsize: 50px;
    }
  }

@media screen and (max-width: 300px) {

    body{
        height: 600px;
    }
    .work{
        height: 200px;
    }
    .contact{
        height: 0px;
    }
}
  